<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- Norway -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Oslo</ion-card-subtitle>
        <ion-card-title>Norway</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Gateway to Scandinavia!!
        <br />
        <ion-button (click)="handleGoToNorway()">See more</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- Nigeria -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Lagos</ion-card-subtitle>
        <ion-card-title>Nigeria</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Oil capital of Africa!
        <br />
        <ion-button (click)="handleGoToNigeria()">See more</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>